.bg {
  background: url('../img/bg.png') no-repeat center center;
  top:0;
  left:0;
  z-index: -1;
}

@media (max-width: 400px) {
  .navbar-brand {
    font-size: 14px;
  }
}

.navbar-fixed-top {
  background-color: #FFFFFF;
}

.logo {
	height: 50px;
	width: 50px;
}